/* TODO: split it in tokens */

:root {
  --color-primary: #3498db;
  --color-primary-foreground: #ffffff;
  --color-secondary: #2ecc71;
  --color-secondary-foreground: #ffffff;
  --color-destructive: #e74c3c;
  --color-destructive-foreground: #ffffff;
  --color-accent: #9b59b6;
  --color-accent-foreground: #ffffff;
  --color-background: #ecf0f1;
  /* --color-input: #bdc3c7; */
  --color-ring: #95a5a6;
}

/** SPINNER **/
/* Spinner container */
.spinner {
  display: inline-block;
  /* font-size: 1rem; */
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  border: 0.16rem solid currentColor; /* Light gray background ring */
  border-top-color: color-mix(in srgb, currentColor 20%, transparent);    /* Darker top to create spin illusion */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  /* flex-shrink: 0; */
}

/* Keyframe animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
